<section id="clients">
	<div class="inner">
		<header>
			<h2>Businesses I've Helped</h2>
		</header>
		<ul>
		{{#each this ~}}
			{{#if image ~}}
			<li>
				<span class="valign"></span>
				<img class="vcontent" src="{{ image ~}}" alt="{{ name ~}}">
				<div>{{ name ~}}</div>
			</li>
			{{else ~}}
			<li class="svg"><div>{{ name ~}}</div></li>
			{{/if ~}}
		{{/each ~}}
		</ul>
	</div>
</section>
