<section id="work">
	<div class="inner">
		<ul>
		{{#each this}}
			<li>
				<a href="{{ href }}">
					<div class="content">
						<h1>{{{ name }}}</h1>
						<h3>{{{ client }}}</h3>
					</div>
					<picture>
						<img src="{{ thumbnail.image }}" srcset="{{ thumbnail }}" alt="{{ client }} - {{ name }}">
					</picture>
				</a>
			</li>
		{{/each}}
		</ul>
	</div>
</section>